.login-form{
    width: 70%;
    margin: 100px 10%;
    padding: 30px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 10px;
}

.btn-container{
    width: 95%;
    text-align: right;
}
