.register-form{
    width: 70%;
    margin: 100px 10%;
    padding: 30px;
    background-color: black;
    opacity: 0.5;
}

.register-form{
    width: 70%;
    margin: 100px 10%;
    padding: 30px;
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 10px;
}

.btn-container{
    width: 95%;
    text-align: right;
}
