/*
https://unsplash.com/photos/NeTPASr-bmQ
https://unsplash.com/photos/MJSFNZ8BAXw
https://unsplash.com/photos/8lnbXtxFGZw
https://unsplash.com/photos/OApHds2yEGQ
https://unsplash.com/photos/0sPFjdcRhko


    background-color: rgb(105,93,70);


*/

body{
    margin: 0px;
    padding: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: rgb(105,93,70);
}




