img {
    max-width: 100%;
    height: auto;
}

.guitar-small {
    border: 1px solid #cccccc;
}

/* Typography ========================================= */

h1, h2 {
    font-family: oswald, helvetica, "arial narrow", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 8rem;
    margin-top: 0;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
    text-transform: lowercase;
    font-size: 2.6rem;
    text-align: center;
    margin-bottom: .75rem;
    margin-top: 2rem;
    line-height: 1;
}

h3 {
    font-family: "Roboto Slab", courier, "courier new", monotype;
    font-weight: 400;
    margin: 0;
    font-size: .75rem;
}

a {
    font-family: "Roboto Slab", serif;
}

/* LAYOUT ================================== */
.wrapper {
    padding: 0 2%;
}

.guitar-small {
    border: 1px solid #555;
}

.guitar-small {
    border: 1px solid #555;
    margin-bottom: .5rem;
    padding: .2rem;
}



/* LINKS AND MENUS ========================== */

a {
    font-family: "roboto slab", serif;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    text-align: center;
}

nav a {
    font-size: 1.4rem;
    line-height: 2;
    color: black;
    background-color: #eee;
    padding: 10px;
}


nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}



@media print {

    .ad {
        display: none;
    }

} /* end print styles */

/* Media Queries ======================================= */

@media screen and (min-width: 700px) {

    body {
        background-color: pink;
    }

}  /*  end 700px query */



@media screen and (min-width: 1200px) {

    body {
        background-color: hotpink;
    }

}  /*  end 1200px query */

@media screen and (min-width: 700px) {

    .models-original,
    .models-budget,
    .models-artist {

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        margin-top: 50px;
    }

    .models-featured-sec {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1rem;
        margin-top: 50px;
    }

}  /*  end 700px query */

@media screen and (min-width: 800px) {

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2px;

        width:80%;
        margin-left: auto;
        margin-right: auto;
    }

    .models-original,
    .models-budget,
    .models-artist,
    .models-featured-sec{
        display: block;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .guitar-small {
        width: 31%;
        display: inline-block;
    }

    .models-original h2,
    .models-budget h2,
    .models-artist h2,
    .models-featured-sec h2
    {
        display: block;
        width: 100%;
        text-align: left;
    }

    .models-featured-sec{
        display: block;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .models-featured-sec .featured-sec, .models-featured-sec .contact-form{
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }

    .models-featured-sec .featured-sec .guitar-small{
        width: 95%;
    }


}  /*  end 800px query */

@media screen and (min-width: 1000px) {
    .guitar-small {
        width: 31%;
    }

    nav ul{
        grid-template-columns:repeat(6,1fr);
        width:80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1050px) {
    .guitar-small {
        width: 32%;
    }
}


.contact-form label, .contact-form input, .contact-form h2, .contact-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

nav ul li a{
    display: inline-block;
    width: 99%;
    padding: 0.5%;
}

footer{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

footer a{
    display: block;
    width: fit-content;
    padding: 8px 12px 8px 12px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
}

input[type="submit"]{
    background-color: white;
}