*{
  margin: 0;
}

/* ************************************************************************************************************ */
/* ************************************************************************************************************ */
/* ************************************************************************************************************ */
/* *********************************************ALL PAGES GRID************************************************* */ 
/* ************************************************************************************************************ */ 
/* ************************************************************************************************************ */
/* ************************************************************************************************************ */

/* *****HOME PAGE GRID , CONTACT PAGE GRID , REGISTER PAGE GRID , QUERIES PAGE GRID, DISCOUNT PAGE GRID******** */
/* *****************************FORMATING MAIN PARENT AND ITS CHILDREN**************************************** */

.main-parent, .main-container, .main-part, .main-event, .main-subject{
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 6fr 1fr; 
}

.main-child1, .main-childC1, .main-childP1, .main-eventE1, .main-childS1{
  grid-row: 1/2;
}

.main-child2, .main-childC2, .main-childP2, .main-eventE2, .main-childS2{
  grid-row: 2/3;
}

.main-child3, .main-childC3, .main-childP3, .main-childE3, .main-childS3{
  grid-row: 3/4;
  background-color: black;
}

/* ******************************ABOUT US PAGE GRID*********************************************************** */ 
/* *****************************FORMATING MAIN PARENT AND ITS CHILDREN**************************************** */

 .main-wrapper{
  display: grid;
  height: 100vh; 
  grid-template-rows: 1fr 3fr 3fr 1fr ;
}

.main-childc1{
  grid-row: 1/2;
}

.main-childc2{
  grid-row: 2/3;
}

.main-childc3{
  grid-row: 3/4;
}

.main-childc4{
  grid-row: 4/5;
  background-color: black;
}

/* *******************************************CONTACT US PAGE GRID************************************************ */
/* *****************************FORMATING CONTENT PARENT AND ITS CHILDREN**************************************** */

 .content-contact{
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   height: 68vh;
 }

 .content-childContact1{
   grid-column: 1/2;
 }

 .content-childContact2{
   grid-column: 2/3;
 }

 .content-childContact3{
   grid-column: 3/4;
 }

  /* ***************************************************GALLERY***************************************************** */
  /* ****STAMPS GRID, COINS GRID, ANTIQUES GRID, ORIGAMI GRID, PUZZLES GRID, TOYS GRID, ACTION FIGURES GRID******** */
  /* *****************************FORMATING MAIN PARENT AND ITS CHILDREN****************************************** */

   .main-gallery1, .main-gallery2, .main-gallery3, .main-gallery4, .main-gallery5,  .main-gallery6,  .main-gallery7{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    height: 100vh;
  }
 
  .main-childG1, .main-childCo1, .main-childA1, .main-childO1, .main-childP1, .main-childT1, .main-childF1{
    grid-row: 1/2;
  }
 
  .main-childG2, .main-childCo2, .main-childA2, .main-childO2, .main-childP2, .main-childT2, .main-childF2{
    grid-row: 2/3;
  }
 
  .main-childG3, .main-childCo3, .main-childA3, .main-childO3, .main-childP3,  .main-childT3, .main-childF3{
    grid-row: 3/4;
    background-color: black;
  }

  /* *****************************FORMATING CONTENT PARENT AND ITS CHILDREN**************************************** */
 
  .main-stampCollection, .main-coinCollection, .main-antiqueCollection, .main-origamiCollection, .main-puzzlesCollection, .main-toysCollection, .main-figuresCollection {
    display: grid;
    height: 100%;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 2fr 2fr;
  }
 
  .main-G11, .main-Co11, .main-A11, .main-O11, .main-P11, .main-T11,  .main-F11 {
    grid-row: 1/2;
    grid-column: 1/2; 
    display: flex;
    flex-direction: row; 
  }
 
  .main-G12, .main-Co12, .main-A12, .main-O12, .main-P12, .main-T12,  .main-F12{
   grid-row: 1/2;
   grid-column: 2/3;
   display: flex;
   flex-direction: row; 
 }
 
 .main-G13, .main-Co13,  .main-A13, .main-O13, .main-P13, .main-T13,  .main-F13{
   grid-row: 2/3;
   grid-column: 1/2;
   display: flex;
   flex-direction: row; 
 }
 
 .main-G14, .main-Co14,  .main-A14,  .main-O14,  .main-P14, .main-T14,  .main-F14{
   grid-row: 2/3;
   grid-column: 2/3;
   display: flex;
   flex-direction: row; 
 }
 
 .main-G15, .main-Co15, .main-A15, .main-O15, .main-P15, .main-T15,  .main-F15 {
   grid-row: 3/4;
   grid-column: 1/2;
   display: flex;
   flex-direction: row;
 }
 
 .main-G16, .main-Co16, .main-A16, .main-O16, .main-P16, .main-T16,  .main-F16{
   grid-row: 3/4;
   grid-column: 2/3;
   display: flex;
   flex-direction: row; 
 }

/* *********************************************HEADER*********************************************************** */ 

.header{
  padding-bottom: 5px;
  background: black;
  font-size: 22px;
  text-align: center;
  display: flex;
} 

/* *********************************************LOGO*********************************************************** */ 
 
.logo-link{ 
  max-height: 6px;
  max-width: 8px;
  margin-left: 2rem;
  color: red;
  text-decoration: blink;
} 

.logo-1{
  height: 3.5cm;
}

/* *********************************************NAVIGATION STYLE********************************************* */ 

 nav{
  padding-right: 50px;
}

.navCenter{
  display: flex;
  flex: auto;
  margin: 0;
  margin-top: 4rem;
  margin-left: 15rem;
}

nav ul{
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  margin: 0; 
}

nav ul a{
  color: black;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background-color: white;
}

a:active {
  text-decoration: underline;
}

.btn {
  background-color: red;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
 }
  
/* *********************************************DROPDOWN*********************************************************** */ 
  .drop {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 20px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: white ;
    text-decoration: underline;
  }

  .drop:hover .dropdown {
    display: block;
  }
  
  .drop:hover .btn {
    background-color: white;
    text-decoration: underline;
   }

  /* *********************************************TABLE*********************************************************** */ 
  
   table{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
    right: 20px;
   }

   td{
    border: 3px solid black;
    padding: 5px;
   }
   
   th{
    height: 40px;
    text-transform: uppercase;
    font-size: large;
   }

   tr:hover{
     background-color: red;
   }

   /* *********************************************ABOUT PAGE DATA*********************************************************** */ 

    .abtHead{
      text-align: left;
      text-transform: uppercase;
      text-decoration:underline;
      text-decoration-color: red;
      position: absolute;
      left: 50px;
      padding-top: 60px;
    }

    .abtPara{
      text-align: center;
      text-align: justify;
      display: block;
      padding-top: 30px;
      margin-left: 300px; 
      padding-right: 10px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 5px;
    }
     
   /* *********************************************CONTACT PAGE DATA*********************************************************** */ 

   .contactTitle{
     text-align: center;
     padding-top: 8px;
     text-transform: uppercase;
     text-decoration: underline;
     text-decoration-color: red;
     font-family: Arial, Helvetica, sans-serif;
   }

   .subContact{
     text-align: center;
     padding-top: 12px;
     font-family: Arial, Helvetica, sans-serif;
   }

   .conDetails{
     text-align: center;
     padding-top: 14px;
     padding-bottom: 2px;
     font-family: Arial, Helvetica, sans-serif;
   }

/* *********************************************GALLERY STYLING*********************************************************** */ 

 img{
   height: 6cm;
   padding : 12px 10px 12px 10px;
 }

 .gallerys{
   padding-top:12px;
   padding-bottom: 10px;
   text-transform: uppercase;
   font-family: Arial, Helvetica, sans-serif;
 }

 .subGallery{
   border: 3px solid red;
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   padding: 5px;
   margin-right: 10px;
 }

/* ********************************************************** FORM ALIGNMENT *************************************************************/

 #formdiv {
  border: 5px solid black;
  outline-style: solid;
  outline-width: 6px ;
  outline-color: red;
  max-width: 40%;
  text-align: center;
  margin: 30px;
  font-size: 16pt;
  position: relative;
  left: 300px;
}

#formdiv label{
  display: inline-block;
  text-align: left;
  width: 300px;
}

#formdiv  input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
  max-width: 300px;
}

#formdiv  textarea{
  border: 1px solid black;
  border-radius: 2px;
  height: 120px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
}

#formdiv select {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 2px;
  max-width: 300px;
  background-color: #f1f1f1;
}

#submitButton{
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 5px;
  max-width: 200px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  right: 5px;
  background-color: red;
}

#queriesButton{
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 5px;
  max-width: 200px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 635px;
  background-color: red;
}

/* *********************************** DONE SLIDESHOW STYLING WITH A YOUTUBE VIDEO https://www.youtube.com/watch?v=NsDJtWBOoWY ******** */
/* ************************************************** SLIDESHOW CONTENT *********************************************/

.main-child2{
  padding-top: 20px;
  padding-bottom: 20px;
}

.galleryContainer{
  width: 100%;
  height: 350px;
  max-width: 1000px;
  user-select: none;
  box-shadow: 0px 0px 3px 1px white;
  box-sizing: border-box;
  margin: 0 auto;
}

.galleryContainer .slideShowContainer{
  width:100%;
  height: 90%;
  overflow: hidden;
  position: relative;
}
 
.galleryContainer .slideShowContainer .imageHolder{
  width:100%;
  height:100%;
  position: absolute;
  opacity: 0; 
}
 
.galleryContainer .slideShowContainer .imageHolder img{
  width: 100%;
  height: 100%;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
  width: 50px;
  background: red;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: background 0.5s;
  height: 72px;
  top: 50%;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.galleryContainer .slideShowContainer .rightArrow{
  left: auto;
  right: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.galleryContainer .slideShowContainer .leftArrow:hover{
  background: black;
  cursor: pointer;
}

.galleryContainer .slideShowContainer .rightArrow:hover{
  background: black;
  cursor: pointer;
}

.galleryContainer .slideShowContainer .arrow{
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.galleryContainer .slideShowContainer .arrow.arrowLeft{
transform: rotateZ(-135deg);
}

.galleryContainer .slideShowContainer .arrow.arrowRight{
  transform: rotateZ(45deg);
}

.galleryContainer .moveLeftCurrentSlide{
  animation-name: moveLeftCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.galleryContainer .moveLeftNextSlide{
  animation-name: moveLeftNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent{
  from{
    margin-left:0;
    opacity: 1;
  }
  to{
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveLeftNext{
  from{
    margin-left: 100%;
    opacity: 1;
  }
  to{
    margin-left: 0;
    opacity: 1;
  }
}

.galleryContainer .moveRightCurrentSlide{
  animation-name: moveRightCurrent;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveRightCurrent{
  from{
    margin-left:0;
    opacity: 1;
  }
  to{
    margin-left: 100%;
    opacity: 1;
  }
}

.galleryContainer .moveRightNextSlide{
  animation-name: moveRightNext;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes moveRightNext{
  from{
    margin-left: -100%;
    opacity: 1;
  }
  to{
    margin-left: 0;
    opacity: 1;
  }
}

/* ************************************************* FOOTER *********************************************************/

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: red;
	text-align: center;
}

.discountImg{
text-align: center;
}

.row{
    display: grid ;
    grid-template-columns: 40% 60%;
    grid-column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.col-3{
    justify-self: start;
}
.col-2{
    justify-self: end;
}
#formdiv label{
    text-align: right;
    width: inherit;
}
#messageBody #formdiv input, #messageBody #formdiv select{
    width: 100%;
}

#messageBody #formdiv input[type="checkbox"], #messageBody #formdiv input[type="radio"]{
    width: initial;
}
.row-12{
    display: grid ;
    grid-template-columns: 100%;
    grid-column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.row-12 .col-12{
    justify-content: start;
    justify-self: start;
}
.row-12 .col-12 label{
    text-align: left !important;
}

#outputBox{
    display: block;
    width: 48%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.do-not-show{
    display: none;
}

.discount{
    height: 10cm;
}